@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
/* NAVIGATION BAR SECTION  */

.nav {
  position: fixed;
  top: -17px;
  width: 100%;
  height: 12vh;
  display: flex;
  padding: 9px;
  z-index: 1;

  justify-content: space-between;
  background-color: #000;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 130px;
  height: 55px;
  object-fit: contain;
  margin-top: 10px;
}

ul li {
  list-style: none;
}

.btn {
  position: fixed;
  right: 20px;
  object-fit: contain;
}
.btn-1 {
  border: none;
  background: transparent;
  color: #fff;
  margin-right: 10px;
  letter-spacing: 0 !important;
  font-size: 14px;
  text-transform: uppercase;
}

.btn-2 {
  width: 115px;
  height: 2.3rem;
  padding: 9px 12px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #e50914;
  color: #fff;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 8px;
}

.btn-2:hover {
  background: #f40612;
  color: #fff;
}

.btn-3 {
  width: 90px;
  height: 2.4rem;
  padding: 9px 12px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #888;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  line-height: 13px;
  background: transparent;
}

.btn-3:hover {
  background-color: hsla(0, 0%, 59%, 0.3);
}

/* CARD SECTION  */

.homepage {
  background-color: #181818;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.text-section {
  margin-top: 10rem;
  margin-left: 30px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
}

.homepage h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.text-section p {
  word-spacing: 0.1em;
  width: 100%;
}

/* CARDS TEXT BOTTOM SECTION BEFORE FOOTER */
h2 {
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.inner-text {
  width: 100%;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0 !important;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content1::after {
  content: "\a";
  white-space: pre;
}

.content2::before {
  content: "\a";
  white-space: pre;
}

.bottom-btn {
  background-color: #e50914;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  min-height: 48px;
  min-width: 112px;
  color: #fff;
  padding: 14px 2em;
  position: relative;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 1em;
  user-select: none;
  vertical-align: middle;
  margin-bottom: 150px;
}

.bottom-btn:hover {
  background-image: linear-gradient(180deg, #e50914, #db0510);
  box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
  color: #fff;
}
