@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #fff;
}

img {
  /* max-width: 100%; */
}
/* LANDING PAGE WITH BACKGROUND IMAGE  */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 56px;
  position: absolute;
  width: 100%;
  z-index: 5;
}

header a.logo {
  display: block;
}

header .logo svg {
  fill: #e50914;
  height: 37px;
}

header div + div {
  text-align: right;
}

header a.button {
  display: inline-block;
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  padding: 7px 17px;
  border-radius: 3px;
}

div.splash {
  position: relative;
}

div.splash div.gradient {
  /* background-image: linear-gradient(to top, rgba(0,0,0,.8) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,.8) 100%); */
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}
div.splash div.background img {
  width: 100%;
  opacity: 2;
}

div.splash div.content {
  max-width: 655px;
  position: absolute;
  inset: 0;
  left: 50%;
  margin-left: -327.5px;
  display: grid;
  align-items: center;
  text-align: center;
}

div.splash h1,
div.splash h2 div.splash h3 {
  font-weight: normal;
}

div.splash h1 {
  font-size: 3.125rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

div.splash h2 {
  font-size: 1.625rem;
  font-weight: 400;
  margin-top: 13px;
  margin-bottom: 29px;
}

div.splash h3 {
  font-size: 1.2rem;
}

div.splash form {
  position: relative;
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr max-content;
}

div.splash input {
  padding: 15px 10px;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
}

div.splash input ~ span {
  position: absolute;
  left: 12px;
  top: 19px;
  z-index: 3;
  color: #aaa;
  transition: all 0.15s ease;
  pointer-events: none;
}

div.splash input:focus {
  padding-top: 19px;
  padding-bottom: 11px;
  color: #000;
}

div.splash input:focus ~ span {
  top: 4px;
  font-size: 0.8rem;
}

div.splash button {
  font-size: 1.625rem;
  /* padding: 7.1px 20px; */
  padding: 12px 26px;
  background-color: #e50914;
  color: #fff;
  border: 0;
}

div.splash button:hover {
  background: #f40612;
}

/* VIDEO SECTION  */

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 46px;
  padding: 70px 35px;
  align-items: center;
  background: #000;
  width: 100%;
  border-top: 8px solid #222;
}

section div.texts h1 {
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 8px;
}

section div.texts p {
  font-size: 1.625rem;
  font-weight: 400;
}
/* 
section div.texts, .section-text {
   margin-left: 40px;
} */


.edit-text::before {
  content: "\a";
  white-space: pre;
}

.media {
  position: relative;
}

.media.s1 img {
  width: 400px;
}

.media.s1 video {
  width: 293px;
  position: absolute;
  top: 62px;
  left: 52px;
}

section:nth-child(even) div.texts {
  order: 2;
}

section div.media img.mobile {
  width: 480px;
  height: auto;
  /* max-width: 100%; */
}

section div.download {
  border: 2px solid #666;
  border-radius: 15px;
  padding: 10px;
  height: 95px;
  display: grid;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 340px;
  left: 50%;
  margin-left: -230px;
  background-color: #000;
  gap: 15px;
  grid-template-columns: max-content 1fr max-content;
}

section div.download img {
   height: 75px;
   width: auto;
}
