* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.logo {
  width: 8rem;
  height: 3rem;
  top: 0px !important;
  left: 0px !important;
  position: fixed;
  margin-left: 25px;
}
.navbar {
  height: 8vh;
  width: 100%;
}

.nav-item .btn-1 {
  width: 6.5rem;
  /* height: 2rem; */
  padding: 5px 5px;
  font-size: 13px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #e50914;
  color: #fff;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.nav-item .btn-1:hover {
background: #f40612;
color: #fff;
}


.nav-item .btn-2 {

} 